

<div class="window col-xs-12 col-md-8 col-md-offset-2 catalog" data-category = <%= category.toLowerCase()%>>
    <h2 class="window_title">
        <i class="material-icons"><%= icon %></i>
        <%= category %>
    </h2>
    <a id="close_button" href="#" title="Close" class="material-icons">close</a>
    <div class="window_body">
        
        <!-- Display lists with category items -->

        <% <!-- Books list --> %>
        <% if(category === 'Books'){ %>
            <% result.map(function(book){ %>
                <a href = '<%= book.url %>' class = 'category_items book' >Title: <%= book.title %></a>
            <% }) %>   
        <% <!-- Authors list --> %>
        <% }else if(category === 'Authors'){ %>
            <% result.map(function(author){ %>
                <a href = '<%= author.url %>' class = 'category_items author' >Name: <%= author.name %></a>
            <% }) %>
        <% <!-- Genres list --> %>
        <% }else if(category === 'Genres'){ %>
            <% result.map(function(genre){ %>
                <a href = '<%= genre.url %>' class = 'category_items genre' >Genre: <%= genre.name %></a>
            <% }) %>
        <% } %>           
                  
    </div>
</div> 