
<% <!-- Catalog window --> %>

<div class="window col-xs-12 col-md-8 col-md-offset-2 catalog"
 data-category = <%= category.toLowerCase()%>>

    <!-- Title -->
    <h2 class="window_title">
        <i class="material-icons"><%= icon %></i>
        <%= category %>
    </h2>
    
    <!-- Close button -->
    <a id="close_button" href="#" title="Close" class="material-icons button">close</a>

    <!-- Show the back button only in single item windows on ajax requests -->
    <% if(typeof single !== 'undefined' && ajax){ %>

        <!-- Back button -->
        <a class = "material-icons back_button button" href = "#" title = "Back">arrow_back</a>

    <% } %>

    <!-- Don't show the search button in single item windows except in genre window -->
    <!-- <% if(typeof single === 'undefined' || typeof genre !== 'undefined'){ %> -->

        <!-- Search button -->
        <!-- <a href = "#" class = "material-icons search_button button" title = "Search">search</a> -->

    <!-- <% } %> -->

    <!-- Don't show these search button and search bar in single item windows -->
    <% if(typeof single === 'undefined'){ %>

        <!-- Search button -->
        <a href = "#" class = "material-icons search_button button" title = "Search">search</a>

        <!-- Search bar -->
        <div class = "search_bar">
            <label for = "search_field" class = "material-icons">search</label>
            <input type = "text" placeholder = "Search" id = "search_field" autocomplete = "off"></input>
            <i id = "clear_search" class = "material-icons" title = "Clear">close</i>
        </div>

    <% } %>

    <!-- Window body -->
    <div class="window_body">

        <% <!-- Display either lists with category items or a single item --> %>
        
        <% if(typeof single === 'undefined'){ %>

            <% <!-- Books list --> %>
            <% if(category === 'Books'){ %>
                
                <div class = "books">
                    <% result.map(function(book){ %>

                        <a href = '<%= book.url %>' class = 'category_items book' >
                            <img src = "/images/books/<%= book.title %>.jpg" alt = "Book cover">
                            <%= book.title %>
                        </a>

                    <% }) %>   
                </div>

            <% <!-- Authors list --> %>
            <% }else if(category === 'Authors'){ %>

                <div class = "authors">
                    <% result.map(function(author){ %>

                        <a href = '<%= author.url %>' class = 'category_items author' ><%= author.name %></a>

                    <% }) %>
                </div>
                    
            <% <!-- Genres list --> %>
            <% }else if(category === 'Genres'){ %>

                <div class = "genres">
                    <% result.map(function(genre){ %>

                        <a href = '<%= genre.url %>' class = 'category_items genre' ><%= genre.name %></a>
                        
                    <% }) %>
                </div>

            <% } %>
        
        <% <!-- Single item --> %>
        <% }else{ %>
            
            <% include single_item_ajax %>

        <% } %>

    </div>
</div>  