
<!-- Movie -->
<% if (typeof movie !== 'undefined') { %>

    <div class = "single_item movie">
        
        <img src = "/images/movies/<%= movie.title %>.jpg" alt = "Movie poster">

        <div class = "info">

            <h3><%= movie.title %></h3>

            <div class = "movie_director">
                <i>Director</i>
                <a href = "<%= movie.director.url %>" class = "category_items director"><%= movie.director.name %></a>
            </div>

            <div class = "movie_storyline">
                <i>Storyline</i>
                <p><%= movie.storyline %></p>
            </div>

            <div class = "movie_genre">
                <i>Genre</i>
                <% movie.genre.forEach(function(genre) { %>
                    <a href = "<%= genre.url %>" class = "category_items genre"><%= genre.name %></a><br/>
                <% }) %>
            </div>

        </div>

    </div>

<!-- Director -->
<% } else if (typeof director !== 'undefined') { %>

    <div class = "single_item director">

        <img src = "/images/directors/<%= director.name %>.jpg" alt = "Director photo">

        <div class = "info">

            <h3><%= director.name %></h3>

            <div class = "director_birth">
                <i>Date of birth</i>
                <p><%= director.date_of_birth.toLocaleDateString() %></p>
            </div>

            <div class = "director_death">
                <i>Date of death</i>
                <p><%= director.date_of_death.toLocaleDateString() %></p>
            </div>

            <div class = "director_bio">
                <i>Bio</i>
                <p><%= director.bio</p>
            </div>
            
        </div>

        <!-- Director's movies -->
        <i>Movies</i>
        <div class = "director_movies">
            <% if (director_movies.length === 0) { %>

                <p class = "empty">No movies from this director.</p>

            <% } else { %>

                <% director_movies.forEach(function(movie) { %>

                    <a href = '<%= movie.url %>' class = 'category_items movie' >
                        <img src = "/images/movies/<%= movie.title %>.jpg" alt = "Movie poster">
                        <%= movie.title %>
                    </a>

                <% }) %>

            <% } %>
        </div>

    </div>

<!-- Genre -->
<% } else if (typeof genre !== 'undefined') { %>

    <div class = "single_item genre">

        <h3>
            <%= genre.name %>
            <!-- Search button -->
            <a href = "#" class = "material-icons search_button button" title = "Search">search</a>
        </h3>

        <!-- Search bar -->
        <div class = "search_bar">
            <label for = "search_field" class = "material-icons">search</label>
            <input type = "text" placeholder = "Search" id = "search_field" autocomplete = "off"></input>
            <span id = "clear_search" class = "material-icons" title = "Clear">close</span>
        </div>

        <!-- genre's movies -->
        <div class = "movies">
            <% if (genre_movies.length === 0) { %>

                <p class = "empty">No movies from this genre.</p>

            <% } else { %>

                <% genre_movies.forEach(function(movie) { %>

                    <a href = '<%= movie.url %>' class = 'category_items movie' >
                        <img src = "/images/movies/<%= movie.title %>.jpg" alt = "Movie poster">
                        <%= movie.title %>
                    </a>

                <% }) %>

            <% } %>
        </div>

    </div>

<% } %>