
<!-- Book -->
<% if(typeof book !== 'undefined'){ %>

    <div class = "single_item book">
        <img src = "/images/books/<%= book.title %>.jpg">
        <h3><%= book.title %></h3>
        <i>Author:</i>
        <p><%= book.author.name %></p>
        <i>Summary:</i>
        <p class><%= book.summary %></p>
        <i>Genre:</i>
        <% book.genre.map(function(genre){ %>
            <p><%= genre.name %></p>
        <% }) %>
    </div>

<!-- Author -->
<% }else if(typeof author !== 'undefined'){ %>

    <div class = "single_item author">
        <p><%= author.url %></p>
    </div>

<!-- Genre -->
<% }else if(typeof genre !== 'undefined'){ %>

    <div class = "single_item genre">
        <p><%= genre.url %></p>
    </div>

<% } %>