    <% <!-- Include the header --> %>

    <% include ../header %>

    <% <!-- Main section --> %>

    <div class = "row">
        <div class = "col-xs-12 admin_wrapper">

            <% <!-- Small populate button --> %>
            <p class = "populate_small">
                Populate db
                <a href = "/admin/populate" class = "material-icons populate_button small">file_upload</a>
            </p>
            
            <% <!-- Movies --> %>
            <div class = "row">
                <div class = "window col-md-6 col-md-offset-3 admin movies">

                    <% <!-- Title --> %>
                    <h2 class = "window_title">

                        <i class = "material-icons ">local_movies</i>

                        Movies

                        <% <!-- Search button --> %>
                        <a href = "#" class = "material-icons search_button button" title = "Search">search</a>
                
                        <% <!-- toggle button --> %>
                        <a href = "#" class = "material-icons toggle_button button"
                        title = "Toggle">keyboard_arrow_down</a>

                    </h2>

                    <% <!-- Window body --> %>
                    <div class = "window_body">

                        <% <!-- Search bar --> %>
                        <div class = "search_bar">
                            <label for = "search_field" class = "material-icons">search</label>
                            <input type = "text" placeholder = "Search" id = "search_field" autocomplete = "off"></input>
                            <i id = "clear_search" class = "material-icons" title = "Clear">close</i>
                        </div>
                        
                        <% <!-- movies list --> %>
                        <div class = "movies list">
                            <% movies.forEach(function(movie) { %>
        
                                <p class = "category_items">
                                    <%= movie.title %>
                                    <a href = "/admin/remove/movies/<%= movie._id %>" class = "material-icons delete" title = "Delete movie">delete</a>
                                </p>
        
                            <% }) %>
                            
                            <% <!-- Scroll buttons --> %>
                            <div class = "scroll_bar">
                                <a href = "#" class = "material-icons scroll_up">keyboard_arrow_up</a>
                                <a href = "#" class = "material-icons scroll_down">keyboard_arrow_down</a>
                            </div>

                        </div>
            
                    </div>

                </div>
            </div>

            <% <!-- Directors --> %>
            <div class = "row">
                <div class = "window col-md-6 col-md-offset-3 admin directors">

                    <% <!-- Title --> %>
                    <h2 class = "window_title">

                        <i class = "material-icons ">people</i>

                        Directors

                        <% <!-- Search button --> %>
                        <a href = "#" class = "material-icons search_button button" title = "Search">search</a>

                        <% <!-- toggle button --> %>
                        <a href = "#" class = "material-icons toggle_button button"
                        title = "Toggle">keyboard_arrow_down</a>

                    </h2>

                    <% <!-- Window body --> %>
                    <div class = "window_body">

                        <% <!-- Search bar --> %>
                        <div class = "search_bar">
                            <label for = "search_field" class = "material-icons">search</label>
                            <input type = "text" placeholder = "Search" id = "search_field" autocomplete = "off"></input>
                            <i id = "clear_search" class = "material-icons" title = "Clear">close</i>
                        </div>

                        <% <!-- Directors list --> %>
                        <div class = "directors list">
                            <% directors.forEach(function(director) { %>
        
                                <p class = "category_items">
                                    <%= director.name %>
                                    <a href = "/admin/remove/directors/<%= director._id %>" class = "material-icons delete" title = "Delete director">delete</a>
                                </p>
        
                            <% }) %>   

                            <% <!-- Scroll buttons --> %>
                            <div class = "scroll_bar">
                                <a href = "#" class = "material-icons scroll_up" 
                                title = "Scroll up">keyboard_arrow_up</a>
                                <a href = "#" class = "material-icons scroll_down"
                                title = "Scroll down">keyboard_arrow_down</a>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <% <!-- Genres --> %>
            <div class = "row">
                <div class = "window col-md-6 col-md-offset-3 admin genres">

                    <% <!-- Title --> %>
                    <h2 class = "window_title">

                        <i class = "material-icons ">view_agenda</i>

                        Genres

                        <% <!-- Search button --> %>
                        <a href = "#" class = "material-icons search_button button" title = "Search">search</a>

                        <% <!-- toggle button (active on start) --> %>
                        <a href = "#" class = "material-icons toggle_button button"
                        title = "Toggle">keyboard_arrow_down</a>

                    </h2>

                    <% <!-- Window body --> %>
                    <div class = "window_body">

                        <% <!-- Search bar --> %>
                        <div class = "search_bar">
                            <label for = "search_field" class = "material-icons">search</label>
                            <input type = "text" placeholder = "Search" id = "search_field" autocomplete = "off"></input>
                            <i id = "clear_search" class = "material-icons" title = "Clear">close</i>
                        </div>

                        <% <!-- Genres list --> %>
                        <div class = "genres list">
                            <% genres.forEach(function(genre) { %>
        
                                <p class = "category_items">
                                    <%= genre.name %>
                                    <a href = "/admin/remove/genres/<%= genre._id %>" class = "material-icons delete" title = "Delete genre">delete</a>
                                </p>
        
                            <% }) %>

                            <% <!-- Scroll buttons --> %>
                            <div class = "scroll_bar">
                                <a href = "#" class = "material-icons scroll_up" 
                                title = "Scroll up">keyboard_arrow_up</a>
                                <a href = "#" class = "material-icons scroll_down" 
                                title = "Scroll down">keyboard_arrow_down</a>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>


<% <!--Closing tag for the fluid container  --> %>
</div>