    <% <!-- Include the header --> %>
    
    <% include ../header %>
 
    <% <!-- Main section --> %>

    <div class = "row">
        <div class = "col-xs-12 catalog_wrapper">             
             
            <% <!-- Selection windows --> %>

            <% <!-- Books --> %>
            <div class = "window col-xs-8 col-xs-offset-2 col-md-2 col-md-offset-2 selection_window" 
            style = "display: none">
                <a class = "books" href = "/catalog/books" title = "Show Books">
                    <i class = "material-icons ">library_books</i>
                    Books
                </a>
            </div>

            <% <!-- Authors --> %>
            <div class = "window col-xs-8 col-xs-offset-2 col-md-2 col-md-offset-1 selection_window"
            style = "display: none">
                <a class = "authors" href = "/catalog/authors" title = "Show Authors">
                    <i class="material-icons">people</i>
                    Authors
                </a>
            </div>

            <% <!-- Genres --> %>
            <div class = "window col-xs-8 col-xs-offset-2 col-md-2 col-md-offset-1 selection_window"
            style = "display: none">
                <a class = "genres" href = "/catalog/genres" title = "Show Genres">
                    <i class="material-icons">view_agenda</i>
                    Genres
                </a>
            </div>

             
            <% <!-- Selection bar --> %>

            <div class = "window col-xs-12 col-md-6 col-md-offset-3 selection_bar" style = "display: block">

                <% <!-- Books --> %>
                <a class = "books" href = "/catalog/books" title = "Show Books">
                    <i class = "material-icons ">library_books</i>
                    Books
                </a>

                <% <!-- Authors --> %>
                <a class = "authors" href = "/catalog/authors" title = "Show Authors">
                    <i class="material-icons">people</i>
                    Authors
                </a>

                <% <!-- Genres --> %>
                <a class = "genres" href = "/catalog/genres" title = "Show Genres">
                    <i class="material-icons">view_agenda</i>
                    Genres
                </a>

            </div>
             

            <% <!-- Catalog window --> %>


            <div class="window col-xs-12 col-md-8 col-md-offset-2 catalog"
            data-category = <%= category.toLowerCase()%>>
                <h2 class="window_title">
                    <i class="material-icons"><%= icon %></i>
                    <%= category %>
                </h2>
                <a id="close_button" href="#" title="Close" class="material-icons">close</a>
                <div class="window_body">

                    <!-- Display either lists with category items or a single item -->
                    <% if(typeof single === 'undefined'){ %>

                        <% <!-- Books list --> %>
                        <% if(category === 'Books'){ %>

                            <% result.map(function(book){ %>
                                <a href = '<%= book.url %>' class = 'category_items book' >Title: <%= book.title %></a>
                            <% }) %>   
                        
                        <% <!-- Authors list --> %>
                        <% }else if(category === 'Authors'){ %>

                            <% result.map(function(author){ %>
                                <a href = '<%= author.url %>' class = 'category_items author' >Name: <%= author.name %></a>
                            <% }) %>
                                
                        <% <!-- Genres list --> %>
                        <% }else if(category === 'Genres'){ %>

                            <% result.map(function(genre){ %>
                                <a href = '<%= genre.url %>' class = 'category_items genre' >Genre: <%= genre.name %></a>
                            <% }) %>

                        <% } %>
                    
                    <!-- Single item -->
                    <% }else{ %>

                        <% include catalog_ajax/single_item_ajax %>

                    <% } %>
                </div>
            </div> 
            
            
        </div>
    </div>
    
    
    <% <!--Closing tag for the fluid container  --> %>
</div>