    <% <!-- Include the header --> %>

    <% include ../header.ejs %>

    <% <!-- Main section --> %>

    <div class = "row">
        <div class="col-xs-12 home_wrapper">

            <% <!-- Populate reminder --> %>
            <div class = "row populate">
                <div class = "col-md-6 col-md-offset-3">
                    <p>
                        Populate the database
                        <a href = "/admin/populate" class = "populate_button">Populate</a>
                    </p>
                </div>
            </div>

            <% <!-- Latest movies window --> %>

            <div class="row">
                <div class="window col-md-8 col-md-offset-2">
                    
                    <% <!-- Title --> %>
                    <h2 class = "window_title">

                        <i class="material-icons">local_movies</i>

                        Latest Movies
                        
                        <% <!-- toggle button --> %>
                        <a href = "#" class = "material-icons toggle_button button"
                        title = "Toggle">keyboard_arrow_down</a>

                    </h2>

                    <% <!-- Window body --> %>
                    <div class = "window_body">
                        <div id = "latest_movies">
                            <% <!-- Movies --> %>
                            <% movies.forEach(function(movie) { %>

                                <a href = '<%= movie.url %>' class = 'category_items movie'>
                                    <p class = "year"><%= movie.year.getFullYear() %></p>
                                    <img src = "/images/movies/<%= movie.title %>.jpg" alt = "Movie poster">
                                    <%= movie.title %>
                                </a>

                            <% }) %>
                            <% <!-- Scroll buttons --> %>
                            <a href = "#" class = "material-icons scroll_left">keyboard_arrow_left</a>
                            <a href = "#" class = "material-icons scroll_right">keyboard_arrow_right</a>
                        </div>

                        <a href="/catalog/movies" class = "see_all">See all movies</a>
                    </div>

                </div>
            </div>

            <% <!-- Active directors window --> %>

            <div class = "row">
                <div class = "window col-md-8 col-md-offset-2">

                    <% <!-- Title --> %>
                    <h2 class = "window_title">
                        <i class = "material-icons">people</i>

                        Active Directors

                        <% <!-- toggle button --> %>
                        <a href = "#" class = "material-icons toggle_button button"
                        title = "Toggle">keyboard_arrow_down</a>
                    </h2>

                    <% <!-- Window body --> %>
                    <div class = "window_body">
                        <div id = "active_directors">
                            <% <!-- Directors --> %>
                            <% directors.forEach(function(director) { %>
                                
                                <a href = "<%= director.url %>" class = 'category_items director' >
                                    <p class = "numOfMovies"><%= director.numberOfMovies %></p>
                                    <img src = "/images/directors/<%= director.name %>.jpg" alt = "Director photo">
                                    <%= director.name %>
                                </a>
        
                            <% }) %>
                            <% <!-- Scroll buttons --> %>
                            <a href = "#" class = "material-icons scroll_left">keyboard_arrow_left</a>
                            <a href = "#" class = "material-icons scroll_right">keyboard_arrow_right</a>
                        </div>

                        <a href = "/catalog/directors" class = "see_all">See all directors</a>
                    </div>
                    
                </div>
            </div>


        </div>  
    </div>


<% <!--Closing tag for the fluid container  --> %>
</div>