    <% <!-- Include the header --> %>

    <% include ../header.ejs %>

    <% <!-- Main section --> %>

    <div class = "row">
        <div class="col-xs-12 home_wrapper">

            <% <!-- Popular books window --> %>

            <div class="row">
                <div class="window col-md-8 col-md-offset-2">
                    
                    <!-- Title -->
                    <h2 class = "window_title">

                        <i class="material-icons
                        ">library_books</i>
                        Popular Books
                        
                        <!-- Toggle button -->
                        <a href = "#" class = "material-icons toggle_button button"
                        title = "Toggle">keyboard_arrow_up</a>

                    </h2>

                    <!-- Window body -->
                    <div class = "window_body">
                        <div id = "popular_books">
                            <!-- Books (only regular, popular in progress) -->
                            <% books.map(function(book){ %>

                                <a href = '<%= book.url %>' class = 'category_items book' >
                                    <img src = "/images/books/<%= book.title %>.jpg" alt = "Book cover">
                                    <%= book.title %>
                                </a>

                            <% }) %>
                            <a href = "#" id = "arrow_left" class = "material-icons">keyboard_arrow_left</a>
                            <a href = "#" id = "arrow_right" class = "material-icons">keyboard_arrow_right</a>
                        </div>
                        <a href="/catalog/books" class = "see_all" title = "See all books">See all books</a>
                    </div>

                </div>
            </div>

            <% <!-- Popular authors window --> %>
            <div class = "row">
                <div class = "window col-md-8 col-md-offset-2">

                    <!-- Title -->
                    <h2 class = "window_title">
                        <i class = "material-icons">people</i>
                        Popular Authors
                        <!-- Toggle button -->
                        <a href = "#" class = "material-icons toggle_button button"
                        title = "Toggle">keyboard_arrow_up</a>
                    </h2>

                    <!-- Window body -->
                    <div class = "window_body">
                        <div class = "popular_authors">
                            <!-- Authors (only regular, popular in progress) -->
                            <% authors.map(function(author){ %>
        
                                <a href = '<%= author.url %>' class = 'category_items author' ><%= author.name %></a>
        
                            <% }) %>
                        </div>
                        <a href = "/catalog/authors" class = "see_all" title = "See all authors">See all authors</a>
                    </div>

                </div>
            </div>


        </div>  
    </div>


<% <!--Closing tag for the fluid container  --> %>
</div>